APP_NAME=yourservice
APP_ENV=development
APP_VERSION=0.1.0
HTTP_ADDRESS=:8080
HTTP_READ_TIMEOUT=15s
HTTP_WRITE_TIMEOUT=15s
HTTP_IDLE_TIMEOUT=60s
SHUTDOWN_TIMEOUT=20s
LOG_LEVEL=debug

# Auth
JWT_SECRET=dev_secret_change_me
JWT_TTL=1h


